_ReSharper.CsvQuerySolution
bin
obj
/CsvQuery/CsvQuery.csproj.user
/TestResults

/Local.testsettings

/TraceAndTestImpact.testsettings
/Tests/*.user
/*.suo
/CsvQuerySolution.sln.DotSettings.user
/.vs
