<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="21.0.4" targetFramework="net462" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net462" developmentDependency="true" />
  <package id="Moq" version="4.7.145" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
</packages>